@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.popup {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.popup_opened {
  display: flex;
  opacity: 1.0;
  animation: fadeIn 0.2s;
}

.popup__container {
  box-sizing: border-box;
  position: relative;
  padding: 34px 36px 37px;
  width: 90%;
  max-width: 430px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.popup__close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: transparent;
  cursor: pointer;
  border:none;
}

.popup__close-btn::before,
.popup__close-btn::after {
  content: '';
  position: absolute;
  top: -4px;
  left: calc(50% - 2px);
  height: 34px;
  border: 2px solid #fff;
  background-color: #fff;
  transform: rotate(45deg);
}

.popup__close-btn::after {
  transform: rotate(-45deg);
}

.profile-form {
  color: #000;
}

.profile-form__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.profile-form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.profile-form__fieldset_set_inputs {
  margin-top: 48px;
}

.profile-form__input {
  padding: 0 0 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.profile-form__input:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.5);
}

.profile-form__input_el_about {
  margin-top: 30px;
}

.profile-form__fieldset_set_input-handlers {
  margin-top: 48px;
}

.profile-form__submit-btn {
  padding: 0;
  height: 50px;
  border: none;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.profile-form__submit-btn:hover {
  opacity: 0.8;
}


@media screen and (max-width: 1279px) {
  .page__content {
    width: calc(100% - 2*100px);
    max-width: calc(1280px - 2*200px);
  }
}


@media screen and (max-width: 1023px) {
  .page__content {
    width: calc(100% - 2*60px);
    max-width: calc(1024px - 2*100px);
  }

  .places__list {
    grid-template-columns: repeat(auto-fit, minmax(263px, 1fr));
    grid-gap: 20px 17px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .profile__info {
    flex-shrink: 0;
  }

  .profile__picture {
    flex-shrink: 0;
  }

  .profile__add-btn {
    margin-left: 112px;
    flex-shrink: 1;
  }
}

@media screen and (max-width: 767px) {
  .page__content {
    padding: 28px 0 36px;
    width: calc(100% - 2*19px);
    max-width: calc(768px - 2*60px);
    min-width: calc(320px - 2*19px);
  }

  .header {
    align-self: center;
    width: calc(100% + 2*19px);
    padding-bottom: 31px;
  }

  .logo {
    margin-left: 27px;
    width: 104px;
  }

  .profile {
    flex-direction: column;
  }

  .page__profile {
    margin-top: 42px;
  }

  .profile__picture {
    margin-right: 0;
    margin-bottom: 26px;
  }

  .profile__info {
    margin-right: 0;
    margin-bottom: 33px;
    width: calc(100% - 2*19px);
    max-width: 294px;
  }

  .profile__name {
    flex-grow: 1;
    margin-left: 26px;
    margin-right: 8px;
    max-height: 33px;
    width: auto;
    font-size: 27px;
    line-height: 1.22;
    text-align: center;
  }

  .profile__edit-btn {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    background-size: 7.5px auto;
  }

  .profile__about {
    margin-top: 7px;
    height: 17px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  .profile__add-btn {
    width: 100%;
    max-width: 570px;
    margin-left: 0;
    background-size: 16px auto;
  }

  .page__places {
    margin-top: 36px;
  }

  .footer__copyright {
    height: 14px;
    font-size: 14px;
    line-height: 17px;
  }

  .page__footer {
    margin-top: 48px;
  }

  .popup__container {
    padding: 25px 22px;
    min-width: 282px;
  }

  .popup__close-btn {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }

  .popup__close-btn::before,
  .popup__close-btn::after {
    top: -2px;
    left: calc(50% - 1px);
    height: 22px;
    border: 1px solid #fff;
  }

  .profile-form__title {
    font-size: 18px;
    line-height: 22px;
  }

  .profile-form__fieldset_set_inputs {
    margin-top: 75px;
  }

  .profile-form__fieldset_set_input-handlers {
    margin-top: 45px;
  }

  .profile-form__submit-btn {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
