.places__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 21px;
  /* Тут для удобства построения можем задать высоту элемента, так как текстовое содержимое при любом размере будет располагаться всегда в одну строку и не будет меняться по высоте */
  height: 79px;
  background-color: #fff;
}
